<html>
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Hi, <%= "#{@member || ""}" %> </h1>

      <p> 
         this email is to inform you that you have been removed from  
         <%= @business_name %>  on Digiftng     
      </p>

      <p>Your Login credentials will be revoked </p>

      <p>Please contact your admin if you feel this was a mistake </p>
      
   </body>
</html>